@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to our car shop - Fast and Furious!</h1>
        <h2 class="mainSubTitle">Fast and Furious - because we're a family</h2>
    </div>
    
    <img class="mainImage" src="~/images/fast.jpg" />
    <br />
    

</div>

<a class="btn btn-primary m-1 position" asp-area="" asp-page="/Car">LET'S GET ME A CAR!!</a>